.rating {
    display: flex;
    flex-direction: row-reverse;
    height: 20px;
    margin-left: 8px;
}
.rating label {
    float: right;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: -3px;
}
.rating label:not(:first-of-type) {
    padding-right: 2px;
}
.rating label:before {
    content: "★";
    font-size: 24px;
    color: rgba(43, 103, 246, 0.16);
    line-height: 1;
}
.rating input {
    display: none;
}
.rating input:checked ~ label:before,
.rating:not(:checked) > label:hover:before,
.rating:not(:checked) > label:hover ~ label:before {
    color: #2b67f6;
}
